@font-face {
    font-family: Byekan;
    src: url("../fonts/Yekan.ttf");
}
.navbarLogo{
    width: 96px;
    height: 96px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
    min-width: 100px;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b2430;
    padding: 0px 80px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
}
#navbarUnorderedList{
    display: flex;
    align-items: center;
    justify-content: center;   
}
#navbarUnorderedList li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbarUnorderedList li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color : #fff;
    transition: 0.3s ease-in-out;
    
}
#navbarUnorderedList li a:hover{
    color: #17cf97;
}
#navbarUnorderedList li a.loginULNav,
#navbarUnorderedList li a.signupULNav
{
    color: #17cf97;
}
#navbarUnorderedList li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background:#17cf97;
    position: absolute;
    bottom: -4px;
    left: 20px; 
}
#navbarUnorderedList li a.loginULNav::after,
#navbarUnorderedList li a.signupULNav::after
{
    content: "";
    width: 30%;
    height: 2px;
    background:#17cf97;
    position: absolute;
    bottom: -4px;
    left: 20px; 
}

#mobile i{
    color: #fff;
}
#mobile {
    display: none;
}
@media screen and (max-width:769px){
    #navbarUnorderedList{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start; 
        position: fixed;  
        top: 90px;
        right: 0px;
        width: 300px;
        height: 100vh;
        background-color: #2a3239;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out ;
    }

    #navbarUnorderedList.active{
        right: -300px;
    }

    #navbarUnorderedList li{
        margin-bottom: 25px;
    }

    #mobile {
        display: block;
    }

    #mobile i{
        font-size: 24px;
        cursor: pointer;
    }
}

