.main-banner {
    background-color: rgb(242, 242, 247);
    position: relative;
    display: flex;
    align-items: center;
    margin: 20PX;
    width: 100%;
    height: 70vh;
    border-radius: 50px;
    transform: scale(90%);
    transition: 2s;
}

.main-banner__image {
    margin-bottom: 1%;
    margin-left: 2%;
    border-radius: 45px;
}

.main-banner--zoom {
    opacity: 1;
    transform: scale(90%);
    transition: 2s;
}

.shopping{
    text-align: right;
}
.main-banner-content {
    width: 45%;
    margin-left: 10%;
    margin-bottom: 5%;
    padding: 13px 33px;
    border-radius: 15px;
    size: 10px;

}

.main-banner-content h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: black;
    margin: 0 0 12px;
    text-align: center;
    margin-right: 10%;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

.main-banner-content h5 {
    font-size: 36px;
    font-weight: 500;
    line-height: 34px;
    color: rgb(202, 42, 42);
    margin: 0 0 12px;
    text-align: center;
    margin-right: 10%;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

.main-banner-content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: black;
    margin: 0 0 12px;
    text-align: center;
    margin-right: 10%;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

.button:hover {
    background-color: rgb(216, 6, 6);
    color: rgb(208, 255, 0);
    font-size: 25px;
}

.button {
    background-color: rgb(0, 10, 10);
    color: hwb(189 75% 12%);
    font-size: 24px;
    text-align: center;
    padding: 11px 11px;
    margin-left: 13%;
    border-radius: 15px;
    letter-spacing: 1px;
}
.col-3{
    background-color: aqua;
    width: 20%;
    margin-left: 2%;
    box-shadow:10px 20px 3px rgb(1, 7, 1) ;
    border-radius: 15px;
    height: 65vh;
}
.col-3--zoom {
    opacity: 1;
    transform: scale(90%);
    transition: 2s;
}

.best-seller{
    background-color: rgb(148, 214, 205);
    position: relative;
    display: flex;
    margin: 20PX;
    width: 100%;
    height: 70vh;
    border-radius: 50px;
}
.best-seller--image{
    margin-left: 10%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.best-seller-content{
    border-radius: 5px;
    margin-left: 20%;
    margin-bottom: 22%;
}
.best-seller-content-h4{
    margin-left: 20%;
    margin-bottom: 22%;
}
.best-seller-button{
    background-color: rgb(0, 10, 10);
    font-size: 10px;
    text-align: center;
    padding: 8px 7px;
    margin-left: 5%;
    border-radius: 5px;
    letter-spacing: 1px;
}
.best-seller-button:hover {
    background-color: rgb(216, 6, 6);
    color: rgb(208, 255, 0);
    font-size: 11px;
}
.col-4{
    background-color: aqua;
    width: 20%;
    margin-left: 52%;
    margin-top: -30%;
    box-shadow:10px 20px 3px rgb(1, 7, 1) ;
    border-radius: 15px;
    height: 65vh;
}
.col-4--zoom {
    opacity: 1;
    transform: scale(90%);
    transition: 2s;
}
.best-seller--image3{
    margin-left: 6%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.best-seller-content3{
    border-radius: 5px;
    margin-left: 30%;
    margin-top: 30%;
}
.col-2{
    background-color: aqua;
    width: 20%;
    margin-left: 27%;
    margin-top: -30%;
    box-shadow:10px 20px 3px rgb(1, 7, 1) ;
    border-radius: 15px;
    height: 65vh;
}
.col-2--zoom {
    opacity: 1;
    transform: scale(90%);
    transition: 2s;
}
.best-seller--image2{
    
    margin-left: 3%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.best-seller-content2{
    border-radius: 5px;
    margin-left: 27%;
    margin-bottom: 22%;
}
.col-5{
    background-color: aqua;
    width: 20%;
    margin-left: 78%;
    margin-top: -30%;
    box-shadow:10px 20px 3px rgb(1, 7, 1) ;
    border-radius: 15px;
    height: 65vh;
}
.best-seller--image4{
    margin-left: 17%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.best-seller-content4{
    border-radius: 5px;
    margin-left: 30%;
    margin-top: 15%;
}
.col-5--zoom {
    opacity: 1;
    transform: scale(90%);
    transition: 2s;
}
.coach-banner {
    background-color: rgb(242, 242, 247);
    position: relative;
    display: flex;
    align-items: center;
    margin: 20PX;
    width: 100%;
    height: 70vh;
    border-radius: 50px;
    transform: scale(90%);
    transition: 2s;
}

.coach-banner__image {
    margin-bottom: 1%;
    margin-left: 5%;
    border-radius: 45px;
}

.coach-banner--zoom {
    opacity:0.1;
    transform: scale(90%);
    transition: 3s;
}

.coach-banner-content {
    width: 45%;
    margin-left: 10%;
    margin-bottom: 5%;
    padding: 13px 33px;
    border-radius: 15px;
    size: 10px;

}

.coach-banner-content h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: black;
    margin: 0 0 12px;
    text-align: center;
    margin-right: 10%;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

.coach-banner-content h5 {
    font-size: 36px;
    font-weight: 500;
    line-height: 34px;
    color: rgb(202, 42, 42);
    margin: 0 0 12px;
    text-align: center;
    margin-right: 10%;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

.coach-banner-content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: black;
    margin: 0 0 12px;
    text-align: center;
    margin-right: 10%;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

.coach-button:hover {
    background-color: rgb(216, 6, 6);
    color: rgb(208, 255, 0);
    font-size: 25px;
}

.coach-button {
    background-color: rgb(0, 10, 10);
    color: hwb(189 75% 12%);
    font-size: 24px;
    text-align: center;
    padding: 11px 11px;
    margin-left: 33%;
    border-radius: 15px;
    letter-spacing: 1px;
}
.blog-banner {
    background-color: rgb(242, 242, 247);
    position: relative;
    display: flex;
    align-items: center;
    margin: 20PX;
    width: 100%;
    height: 70vh;
    border-radius: 50px;
    transform: scale(90%);
    transition: 2s;
}

.blog-banner__image {
    margin-bottom: 1%;
    margin-left: 5%;
    border-radius: 45px;
}

.blog-banner--zoom {
    opacity:0.1;
    transform: scale(90%);
    transition: 3s;
}

.blog-banner-content {
    width: 45%;
    margin-left: 10%;
    margin-bottom: 5%;
    padding: 13px 33px;
    border-radius: 15px;
    size: 10px;

}

.blog-banner-content h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: black;
    margin: 0 0 12px;
    text-align: center;
    margin-right: 10%;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

.blog-banner-content h5 {
    font-size: 36px;
    font-weight: 500;
    line-height: 34px;
    color: rgb(202, 42, 42);
    margin: 0 0 12px;
    text-align: center;
    margin-right: 10%;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

.blog-banner-content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: black;
    margin: 0 0 12px;
    text-align: center;
    margin-right: 10%;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

.blog-button:hover {
    background-color: rgb(216, 6, 6);
    color: rgb(208, 255, 0);
    font-size: 25px;
}

.blog-button {
    background-color: rgb(0, 10, 10);
    color: hwb(189 75% 12%);
    font-size: 24px;
    text-align: center;
    padding: 11px 11px;
    margin-left: 30%;
    border-radius: 15px;
    letter-spacing: 1px;
}